<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/create_header.html}">

<head>
    <title>Create Item</title>
    <script src="/js/create_item.js" type = "text/javascript"></script>
</head>
<section layout:fragment="content" class="bg">
<body>
    <div class="container mt-3 shadow bg-body rounded px-4" id="layout">
    <form class="row g-3" onsubmit="create()">
<!--        name & des-->
        <div class="col-md-12">
            <h5 for="inputName" class="form-label">Name<small style="color: crimson">*</small></h5>
            <input type="text" class="form-control" id="inputName" required>
        </div>
        <div class="col-12">
            <h5 for="inputDescription" class="form-label">Description</h5>
            <textarea type="text" class="form-control" id="inputDescription" rows="4"></textarea>
        </div>
<!-----Category------->
        <div class="col-12">
            <h5 for="inputCategory" class="form-label">Category<small style="color: crimson">*</small></h5>
            <div class="input-group">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#category">Select...</button>
                <input type="text" class="form-control" id="inputCategory" placeholder="Please select category" required onkeypress="return false;">
            </div>
        </div>
<!--        picture-->
        <div class="col-12">
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0">
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">Image</h5>
                            <p class="card-text">Recommend: Square Size Image <br>(Maximum size: 2 Mb)</p>
                            <div class="input-group">
                                <input class="form-control" type="file" id="formFile" onchange="preview()" name="image" accept="image/png, image/jpeg">
                                <button class="btn btn-outline-secondary" type="button" onclick="clearImage()">Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 center" >
                        <img class="rounded" id="picPreview" src="/images/default.png">
                    </div>
                </div>
            </div>
        </div>

        <h5>Option Group</h5>
        <!-- Button trigger modal -->
        <div class="col-12 mt-0">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#backdropOption" onclick="checkTableGroup()">All Option Group</button>

            <!-- Modal -->
            <div class="modal fade" id="backdropOption" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Select Option Group</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table id="optionGroup"
                                   data-toggle="table"
                                   data-pagination="true"
                                   data-pagination-h-align="left"
                                   data-pagination-detail-h-align="right"
                                   data-search="true"
                                   data-click-to-select="true"
                                   data-maintain-meta-data="true"
                                   data-url="/api/optional/all"
                            >
                                <thead >
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="id" >ID</th>
                                    <th data-field="name" >Group Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="selectedOptionGroup() " data-bs-dismiss="modal">Selected</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->

<!--table            -->
        </div>
        <table id="selectedOptionGroup"
               data-toggle="table"
               data-use-row-attr-func="true"
               data-reorderable-rows="true"
        >
            <thead >
            <tr>
                <th data-field="id" >ID</th>
                <th data-field="name" >Group Name</th>
                <th data-field="remove" data-formatter="operateFormatter" data-events="operateEvents"
                    data-align="center" data-width="15" data-width-unit="%">Remove</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!--table            -->

<!-- QTY       -->
        <div class="col-md-12">
            <h5 class="form-label">Quantity</h5>
            <div class="row g-2 align-items-center col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioNo" onclick="quantitySelect()" checked>
                    <label class="form-check-label" for="radioNo">
                        No
                    </label>
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioYes" onclick="quantitySelect()">
                    <label class="form-check-label" for="radioYes">
                        Yes
                    </label>
                </div>
                <div class="col-auto">
                    <input type="number"  class="form-control" id="qtyNum" min="0" disabled >
                </div>
            </div>
        </div>
<!-- price       -->
        <div class="col-md-5">
            <h5 for="inputPrice" class="form-label">Price<small style="color: crimson">*</small></h5>
            <input type="number" class="form-control" id="inputPrice" min="0" step="0.01" required>
        </div>
        <div class="col-8"></div>
<!--footer-->
        <footer  style="display: flex; justify-content: space-between">
            <div class="mb-3">
                <a class="btn btn-secondary" href="/admin/manage-item" type="button" id="btnBack">Back</a>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary" style="margin-right: 10px" id="createNoDisplay" onclick="clicked = 0">Create & Hide</button>
                <button type="submit" class="btn btn-primary"  id="createDisplay" onclick="clicked = 1">Create & Publish</button>
            </div>
        </footer>
    </form>
        <!-----CategoryModal------->
        <div class="modal fade" id="category"  tabindex="-1" role="dialog" aria-labelledby="categoryLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="categoryLabel">Select Option Group</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table id="categoryTable"
                               data-toggle="table"
                               data-show-header="false"
                               class="table-borderless"
                        >
                            <thead>
                            <tr>
                                <th data-field="name" data-align="center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer" type="button" style="display: block">
                        <div class="col-md-12">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        + New Category
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <h5 for="inputNewCategory" class="form-label">Category Name</h5>
                                        <input type="text" class="form-control" id="inputNewCategory" >
                                        <div class="mt-1" style="display: flex;justify-content: flex-end">
                                            <button class="btn btn-primary" type="button" onclick="createNewCategory()">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</section>


</html>