<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/create_header.html}">

<head>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="/js/create_option_group.js" type = "text/javascript"></script>
</head>
<body class="bg">
<section layout:fragment="content">
    <div class="container mt-3 shadow bg-body rounded px-4" id="layout">
        <form class="row g-3" onsubmit="createOption()">
            <div class="col-md-12">
                <h5 for="inputNameOption" class="form-label">Name</h5>
                <input type="text" class="form-control" id="inputNameOption" required>
            </div>
            <div class="col-md-12">
                <label class="form-label">Quantity</label>
                <div class="row g-2 align-items-center col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioNo" onclick="quantitySelect()" checked>
                        <label class="form-check-label" for="radioNo">
                            No
                        </label>
                    </div>
                    <div class="form-check col-auto">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioYes" onclick="quantitySelect()">
                        <label class="form-check-label" for="radioYes">
                            Yes
                        </label>
                    </div>
                    <div class="col-auto">
                        <input type="number"  class="form-control" id="qtyNum" min="0" disabled >
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputPrice" class="form-label">Price</label>
                <input type="number" class="form-control" id="inputPrice" min="0" step="0.01" required>
            </div>

            <footer  style="display: flex; justify-content: space-between">
                <div class="mb-3">
                    <a class="btn btn-secondary" href="/admin/manage-item#option" type="button">Back</a>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </footer>
        </form>
    </div>
</section>
</body>
</html>