<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/header.html}">
<head>
    <title>Kitchen</title>
    <script src="/js/kitchen.js" type = "text/javascript"></script>
    <link rel="stylesheet" href="/styles/kitchen.css">
</head>
<body >
<section layout:fragment="content">
    <div class="containerToDo bg">
        <div class="rowModal d-none">
            <div class="modal-dialog m-0">
                <div class="modal-content">
                    <div class="modal-header name-price">
                        <h5 class="modal-title" >Table 5</h5>
                        <h5 class="m-0">21:27</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div>
                                <h6 class="m-0">2X ชานม<br></h6>
                                <small class="text-muted">+ หวาน 50% + เฉาก๊วย + ไข่มุกน้ำผึ้ง</small>
                                <br>
                                <small class="text-muted">ร่ายเวทย์แห่งความรักลงไปด้วย</small>
                            </div>
                        </div>
                        <del>
                            <div>
                                <h6 class="m-0">2X ชานม<br></h6>
                                <small class="text-muted">+ หวาน 50% + เฉาก๊วย + ไข่มุกน้ำผึ้ง</small>
                                <br>
                                <small class="text-muted">ร่ายเวทย์แห่งความรักลงไปด้วย</small>
                            </div>
                        </del>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>