<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/header.html}">
<head>
    <title>KITCHEN</title>
    <script src="/js/kitchen.js" type = "text/javascript"></script>
    <link rel="stylesheet" href="/styles/main_menu.css">
</head>
<body>
<section layout:fragment="content">
    <div>
        <h2>Cooking</h2>
        <table id="tableCooking"
               data-toggle="table"
               data-show-columns="true"
               data-show-columns-toggle-all="true"
        >
            <thead >
            <tr>
                <th data-field="id" >ID</th>
                <th data-field="name" >Group Name</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Order</h2>
        <table id="tableOrder"
               data-toggle="table"
               data-show-columns="true"
               data-show-columns-toggle-all="true"
               data-pagination="true"
               data-page-size="15"
        >
            <thead >
            <tr>
                <th data-field="name">Food</th>
                <th data-field="id" >billID</th>
                <th data-field="option" >Option</th>
                <th data-field="comment" >Comment</th>
                <th data-field="qty" >QTY</th>
                <th data-field="type" >Type</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>