<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/header.html}">
<head>
    <title th:text="${type}"></title>
    <script src="/js/main_menu.js" type = "text/javascript"></script>
    <link rel="stylesheet" href="/styles/main_menu.css">
</head>
<body>
<section layout:fragment="content">
    <nav class="navbar" style="justify-content: flex-end">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link link-head" data-bs-toggle="modal" data-bs-target="#cartModal" type="button" onclick="createCartItem()">Cart</a>
            </li>
            <li class="nav-item" id="billNav">
                <a  class="nav-link link-head" data-bs-toggle="modal" data-bs-target="#billModal" type="button" onclick="createBillItem()">Bill</a>
            </li>
        </ul>
    </nav>
    <nav class="navbar navbar-light bg-light" id ="scroll-category">
        <ul class="nav nav-pills" id="navbar-category">
        </ul>
    </nav>
    <!--- create in JS -->
    <div class="px-3" id="menu" data-spy="scroll" data-target="#scroll-category" data-offset="0" tabindex="0">
<!--        <h1 id="Dessert">Dessert</h1>-->
<!--        <div class="cardScroll">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; card&ndash;&gt;-->
<!--                <div class="col-md-6 card d-flex" >-->
<!--                    <div class="row my-1">-->
<!--                        &lt;!&ndash;img&ndash;&gt;-->
<!--                        <div class="columnImage col-auto " >-->
<!--                            <img src="/images/default.png" class="picture" >-->
<!--                        </div>-->
<!--                        &lt;!&ndash;text&ndash;&gt;-->
<!--                        <div class="col-7 card-body">-->
<!--                            <h5 class="card-title">มัทฉะนมสด (ชาเขียวนมสด)</h5>-->
<!--                            <p class="card-text" ><small class="text-muted hide-text">เมนูสุดฮิตของฟุกุ </small></p>-->
<!--                            <a class="stretched-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></a>-->
<!--                            <h6 class="price">25 บาท</h6>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen-md-down">
                    <div class="modal-content" >
                        <div class="modal-header cart-header p-1">
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
                        </div>
                        <div class="modal-body" >
                            <div id="modalImg" class="pb-3">
                                <img class="img-fluid"  src="/images/bubae.png" id="imgModal">
                            </div>
                            <div class="pb-0">
                                <div class="name-price">
                                    <h4 class="menu-name" id="titleItem"></h4>
                                    <p class="text-muted mb-0" id="priceItem"></p>
                                </div>
                                <label id="desItem"></label>
                            </div>

                            <div id="modalBody"></div>

                            <div class="pt-0" >
                                <hr>
                                <h5>Comment</h5>
                                <textarea type="text" class="form-control" rows="3" id="inputComment"></textarea>
                                <div class="mt-2 col-6 " >
                                    <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn">-</button>
                                            </span>
                                        <input id="inputQuantity" type="text" class="text-center form-control" value="1" style="width: 50%">
                                        <span class="input-group-btn">
					                            <button class="btn btn-default" data-dir="up">+</button>
				                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary" style="width: 100%" id="goCart"  disabled>
                                <span id="priceButton"></span><span> - </span> <span id="nameButton"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

    <div class="modal fade" id="cartModal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 >Cart</h2>
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-1" id="cartModalBody">
                    <div>
                        <div class="name-price">
                            <h6 class="menu-name">ข้าวหน้าเนื้อ</h6>
                            <h6>300</h6>
                        </div>
                        <small class="text-muted">ไข่ดิบ, ขิงดอง, XL</small>
                        <div>
                            <a type="button">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="width: 100%" id="cartBtn" disabled onclick="order()">
                        <span id="cartBtnText">฿ 0</span><span> - </span>
                        Order</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="billModal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 >Bill</h2>
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="BillModalBody">
                    <div>
                        <div class="name-price">
                                <h6 class="menu-name">ข้าวหน้าเนื้อ</h6>
                                <h6>300</h6>
                        </div>
                        <div class="name-price-status">
                            <div>
                                <small class="text-muted">ไข่ดิบ, ขิงดอง, XL</small>
                                <br>
                                <small class="text-muted">asdfghjkl;poiqwertyuiop[;lkjhgf,iop[;;llkkjjhhjkkkk</small>
                            </div>
                            <span class="badge rounded-pill bg-danger">Cooking</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="width: 100%" id="billBtn" data-bs-toggle="modal" data-bs-target="#alertModal" type="button" disabled>
                        <span id="billBtnText">฿ 0</span><span> - </span>
                        Payment
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="alertModal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 >Alert</h2>
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer" style="justify-content: space-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#billModal">Close</button>
                    <a class="btn btn-primary" type="button" href="/payment">Go To Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4"></div>
    <footer>
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cartModal" type="button" onclick="createCartItem()">Cart</a>
    </footer>

</section>
</body>

</html>