<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/header.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="/js/main_menu.js" type = "text/javascript"></script>
    <link rel="stylesheet" href="/styles/main_menu.css">
</head>
<body>
<div layout:fragment="content">
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#cartModal" type="button" onclick="createCartItem()">Cart</a>
            </li>
            <li class="nav-item">
                <a href="/bill" class="nav-link">Bill</a>
            </li>
        </ul>
    </nav>
    <nav class="navbar navbar-light bg-light" >
        <ul class="nav nav-pills" id="navbar-category">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </ul>
    </nav>
    <!--- create in JS -->
    <div class="px-3" data-bs-spy="scroll" data-bs-target="#navbar-category" id="menu" data-bs-offset="5">
<!--        <h1 id="Dessert">Dessert</h1>-->
<!--        <div class="cardScroll">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; card&ndash;&gt;-->
<!--                <div class="col-md-6 card d-flex" >-->
<!--                    <div class="row my-1">-->
<!--                        &lt;!&ndash;img&ndash;&gt;-->
<!--                        <div class="columnImage col-auto " >-->
<!--                            <img src="/images/default.png" class="picture" >-->
<!--                        </div>-->
<!--                        &lt;!&ndash;text&ndash;&gt;-->
<!--                        <div class="col-7 card-body">-->
<!--                            <h5 class="card-title">มัทฉะนมสด (ชาเขียวนมสด)</h5>-->
<!--                            <p class="card-text" ><small class="text-muted hide-text">เมนูสุดฮิตของฟุกุ </small></p>-->
<!--                            <a class="stretched-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></a>-->
<!--                            <h6 class="price">25 บาท</h6>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>


            <!-- Button trigger modal -->
            <!--        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
            <!--            Launch static backdrop modal-->
            <!--        </button>-->

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen-md-down">
                    <div class="modal-content">
                        <div class="modal-header">
<!--                            <img class="img-fluid" id="modalImg" src="/images/default.png">-->
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
                        </div>
                        <div class="modal-body pb-0">
                            <div class="name-price">
                                <h4 class="menu-name" id="titleItem"></h4>
                                <p class="text-muted mb-0" id="priceItem"></p>
                            </div>
                            <label id="desItem"></label>
                            <hr class="mb-0">
                        </div>
                        <div class="modal-body py-0" id="modalBody">
                        </div>
                        <div class="modal-body pt-0" >
                            <hr>
                            <h5>Comment</h5>
                            <textarea type="text" class="form-control" rows="3" id="inputComment"></textarea>
                            <div class="mt-2 col-6 " >
                                <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn">-</button>
                                            </span>
                                    <input id="inputQuantity" type="text" class="text-center form-control" value="1" style="width: 50%">
                                    <span class="input-group-btn">
					                            <button class="btn btn-default" data-dir="up">+</button>
				                            </span>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary" style="width: 100%" id="goCart"  disabled>
                                <span id="priceButton"></span><span> - </span> <span id="nameButton"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

    <div class="modal fade" id="cartModal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 >Cart</h2>
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0" id="cartModalBody">
                    <div>
                        <div class="name-price">
                            <h6 class="menu-name">ข้าวหน้าเนื้อ</h6>
                            <h6>300</h6>
                        </div>
                        <small class="text-muted">ไข่ดิบ, ขิงดอง, XL</small>
                        <div>
                            <a type="button">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="width: 100%">Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>