<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/header.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage Table</title>

    <script src="/js/manage_table.js" type = "text/javascript"></script>
    <link rel="stylesheet" href="/styles/manage_table.css">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</head>
<body>
<section layout:fragment="content" class="m-3">
    <div >
        <div class="mb-2 mx-2 d-flex" style="justify-content: space-between">
            <h2 class="m-0">Dine In Table</h2>
            <a class="btn btn-primary" href="/staff/index">Index</a>
        </div>
        <div class="row m-2 mb-0">
            <div class="card text-center col-sm-4" style="border-color: darkcyan">
                <div class="card-body p-1">
                        <i class="bi bi-plus-lg" style="font-size: 2rem;color: darkcyan"></i>
                    <a role="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#createDineInModal"></a>
                </div>
            </div>
        </div>
        <div class="row m-2 mt-0" id="tableContainer"></div>
    </div>
    <hr>
    <div>
        <h2>Take Out Bill</h2>
            <ul class="list-group list-group-horizontal-md" id="takeOutList">
            </ul>
    </div>
    <div class="modal fade" id="createDineInModal"  tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h2 >Open Dine In Table</h2>
                        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-0" id="cartModalBody">
                        <h5>Table No.</h5>
                        <select class="form-select" required>
                            <option value="">Select Table</option>
                        </select>
                        <div >
                            <h5>Person</h5>
                            <div class="input-group number-spinner col-6">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-dir="dwn" value="0">-</button>
                                </span>
                                <input type="number" class="text-center form-control" value= 1 style="width: 50%">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-dir="up" value="0">+</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" style="width: 100%" >Open</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DineInModal"  tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h3></h3>
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0" >
                    <div class="toolbar" id="toolbarFood">
                        <div class="name-price">
                            <button class="m-md-2 btn-bar btn btn-success" id="completeBtn" disabled>
                                <i class="bi bi-check" style="color: white"></i>
                                Complete</button>
                            <button class="m-md-2 btn-bar btn btn-danger" id="deleteBtn" disabled>Delete</button>
                        </div>
                    </div>
                    <table id="tableFood"
                           data-toggle="table"
                           data-click-to-select="true"
                           data-toolbar="#toolbarFood"
                           data-toolbar-align="false"
                           data-detail-view="true"
                           data-detail-formatter= "orderDetailFormatter"
                           class="table"
                    >
                        <thead >
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="name" data-formatter="nameFormatter">Order</th>
                            <th data-field="id" data-visible="false"></th>
                            <th data-field="option" data-visible="false"></th>
                            <th data-field="comment" data-visible="false"></th>
                            <th data-field="quantity" data-visible="false"></th>
                            <th data-field="amount" data-visible="false"></th>
                            <th data-field="status" data-visible="false"></th>
                            <th data-field="index" data-visible="false"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div style="display: flex">
                        <h5 style="margin-top: 10px">Total: </h5>
                        <h5 style="margin-top: 10px;margin-left: 10px" id="total"></h5>
                    </div>
                </div>
                <div class="modal-footer name-price">
                    <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#qrModal" id="qrBtn" disabled>QR Code</button>
                    <button class="btn btn-primary" id="cashBtn" >Pay Cash</button>
                    <button class="btn btn-secondary" id="closeBtn" >Close Bill</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="qrModal"  tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h3></h3>
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-1" >
                    <div id="qrPic"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="width: 100%" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>