<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/create_header.html}">
<head>
    <title>Manage Menu</title>
    <script src="/js/manage_item.js" type = "text/javascript"></script>
    <script src="/js/create_option_group.js" type = "text/javascript"></script>
    <script src="/js/create_item.js" type = "text/javascript"></script>
    <link rel="stylesheet" href="/styles/manage_item.css">
</head>
<body >
<section layout:fragment="content">
    <ul class="nav nav-tabs" id="manageTab" role="tablist" style="margin-right: 55px">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="menu-tab" data-bs-toggle="tab" data-bs-target="#menu" href="#menu" type="button" role="tab" aria-controls="menu" aria-selected="true">Menu</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="category-tab" data-bs-toggle="tab" data-bs-target="#categoryTab" href="#category" type="button" role="tab" aria-controls="category" aria-selected="false">Category</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="group-tab" data-bs-toggle="tab"  href="#group" type="button" role="tab" aria-controls="group" aria-selected="true">Option Group</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="option-tab" data-bs-toggle="tab"  href="#options" type="button" role="tab" aria-controls="options" aria-selected="false">Option</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="table-tab" data-bs-toggle="tab"  href="#table" type="button" role="tab" aria-controls="table" aria-selected="false">Table</button>
        </li>
        <li style="position: absolute;right: 10px;">
            <a class="btn btn-primary" href="/staff/index">Index</a>
        </li>
    </ul>

    <div class="tab-content p-1" id="myTabContent">
        <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="menu-tab">
            <div id="pageFood" class="table-responsive">
                <div class="toolbar" id="toolbarFood">
                    <a class="m-md-2 btn-bar btn btn-secondary" href="/admin/create-item" type="button">Create</a>
                </div>
                <table id="tableFood"
                       data-toggle="table"
                       data-pagination="true"
                       data-pagination-h-align="left"
                       data-pagination-detail-h-align="right"
                       data-search="true"
                       data-toolbar="#toolbarFood"
                       data-url="/api/item/food"
                       class="table"
                >
                    <thead >
                    <tr>
                        <th data-field="image" data-formatter="imageFormatter" data-halign="left" data-align="center"
                            data-width="200"  >Picture</th>
                        <th data-field="name" data-sortable="true" >Name</th>
                        <th data-field="category" data-sortable="true" data-width="25" data-width-unit="%" >Category</th>
                        <th data-field="price" data-sortable="true" data-width="10" data-width-unit="%">Price</th>
                        <th data-field="quantity" data-sortable="true" data-width="10" data-width-unit="%">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
            <div id="pageOptionGroup" class="table-responsive">
                <div class="toolbar" id="toolbarOptionGroup">
                    <a class="m-md-2 btn-bar btn btn-secondary" href="/admin/create-option-group" type="button">Create</a>
                </div>
                <table id="tableOptionGroup"
                       data-toggle="table"
                       data-pagination="true"
                       data-pagination-h-align="left"
                       data-pagination-detail-h-align="right"
                       data-search="true"
                       data-toolbar="#toolbarOptionGroup"
                >
                    <thead >
                    <tr>
                        <th data-field="id" data-width="10" data-width-unit="%">ID</th>
                        <th data-field="name" data-sortable="true" >Name</th>
                        <th data-field="min" data-sortable="true" data-width="10" data-width-unit="%">Min</th>
                        <th data-field="max" data-sortable="true" data-width="10" data-width-unit="%">Max</th>
                        <th data-field="using" data-sortable="true" data-width="10" data-width-unit="%">Using</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="option-tab">
            <div id="pageOption">
                <div class="toolbar" id="toolbarOption">
                    <a class="m-md-2 btn-bar btn btn-secondary" href="/admin/create-option" type="button">Create</a>
                </div>
                <table id="tableOption"
                       data-toggle="table"
                       data-pagination="true"
                       data-pagination-h-align="left"
                       data-pagination-detail-h-align="right"
                       data-search="true"
                       data-toolbar="#toolbarOption"
                >
                    <thead >
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="idItem" data-width="10" data-width-unit="%">ID</th>
                        <th data-field="name" data-sortable="true" data-width="60" data-width-unit="%">Name</th>
                        <th data-field="price" data-sortable="true" data-width="10" data-width-unit="%">Price</th>
                        <th data-field="quantity" data-sortable="true" data-width="10" data-width-unit="%">Quantity</th>
                        <th data-field="using" data-sortable="true" data-width="10" data-width-unit="%">Using</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Tab Table-->
        <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="option-tab">
            <div>
                <div class="toolbar" id="toolbarTable">
                    <div class="name-price">
                        <a class="m-md-2 btn-bar btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modalTableCreate">Create</a>
                        <div>
                            <button class="btn btn-danger" value="0" id="enableDeleteTable">Delete</button>
                            <button class="btn btn-danger d-none" id="deleteTable" onclick="deleteTable()">Delete</button>
                        </div>
                    </div>
                </div>
                <table id="tableNumber"
                       data-toggle="table"
                       data-pagination="true"
                       data-pagination-h-align="left"
                       data-pagination-detail-h-align="right"
                       data-toolbar="#toolbarTable"
                       data-toolbar-align="false"
                       data-click-to-select="true"
                       data-maintain-meta-data="true"
                       data-url="/api/table/all"
                >
                    <thead >
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" data-sortable="true" data-align="center">ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Tab Category-->
        <div class="tab-pane fade" id="categoryTab" role="tabpanel" aria-labelledby="category-tab">
            <div>
                <div class="toolbar" id="toolbarCategory">
                    <div class="name-price">
                        <div>
                            <button class="btn btn-primary" id="enableReorder" value="0">Reorder</button>
                            <button class="btn btn-primary d-none" id="reorderCategory">Reorder</button>
                        </div>
                        <div>
                            <button class="btn btn-danger" value="0" id="enableDeleteCategory">Delete</button>
                            <button class="btn btn-danger d-none" id="deleteCategory" disabled>Delete</button>
                        </div>
                    </div>
                </div>
                <table id="tableCategory"
                       data-toggle="table"
                       data-toolbar="#toolbarCategory"
                       data-toolbar-align="false"
                       data-click-to-select="true"
                       data-single-select="true"
                       data-use-row-attr-func="true"
                >
                    <thead >
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" data-align="center" data-visible="false">Order</th>
                        <th data-field="name" data-align="center">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Modal Food-->
    <div class="modal fade" id="modalFood" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalImg" class="pb-3">
                        <img class="img-fluid"  src="" id="imgModal">
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Name:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="name">Milk shake</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Description:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="des">หอม นุ่ม เด้งดึ๋ง</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Category:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="cate">DRINK</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Quantity:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="quan">No</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Price:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="price">890 Bath</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Display:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="dis">Yes</h6>
                        </div>
                    </div>
                    <h6>Option Group:</h6>
                    <table id="tableInfo"
                           data-toggle="table"
                           data-detail-view="true"
                           data-detail-formatter= "optionDetailFormatter"
                           data-url="/api/item/optional-of-id/1"
                    >
                        <thead >
                        <tr>
                            <th data-field="id" >ID</th>
                            <th data-field="name" >Group Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer name-price">
                    <button type="button" class="btn btn-danger" onclick="$('#alertDeleteModal').modal('show')">Delete</button>
                    <div>
                        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalFoodOptionEdit">Edit Option</button>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalFoodDetailEdit">Edit Detail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal OptionGroup -->
    <div class="modal fade" id="modalOptionGroup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <h6 >Group Name:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="nameOptionGroup">Milk shake</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Description:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="desOptionGroup">หอม นุ่ม เด้งดึ๋ง</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Min:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="min">DRINK</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Max:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="max">No</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Option:</h6>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush" id="optionList">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer name-price">
                    <button class="btn btn-danger" type="button" onclick="$('#alertDeleteModal').modal('show')">Delete</button>
                    <div>
                        <button class="btn btn-primary" type="button"  data-bs-toggle="modal" data-bs-target="#modalOptionGroupEdit">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalOption" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information #<span id="idOption"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="col-3">
                            <h6 >Name:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="nameOption"></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Quantity:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="quanOption"></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h6 >Price:</h6>
                        </div>
                        <div class="col-9">
                            <h6 id="priceOption"></h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer name-price">
                    <button class="btn btn-danger" onclick="$('#alertDeleteModal').modal('show')">Delete</button>
                    <button class="btn btn-primary" type="button" onclick="editOptionPage()" data-bs-toggle="modal" data-bs-target="#modalOptionEdit">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Food Option Modal -->
    <div class="modal fade" id="modalFoodOptionEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Option</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <div class="toolbar" id="toolbarEditFood">
                            <h5>All Option Group</h5>
                        </div>
                        <table id="optionGroup"
                               data-toggle="table"
                               data-height="400"
                               data-pagination-h-align="left"
                               data-pagination-detail-h-align="right"
                               data-search="true"
                               data-click-to-select="true"
                               data-unique-id="id"
                               data-toolbar="#toolbarEditFood"
                               data-maintain-meta-data="true"
                               data-url="/api/optional/all"
                        >
                            <thead >
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" >ID</th>
                                <th data-field="name" >Group Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <h5>Selected Option Group</h5>
                    <table id="selectedOptionGroup"
                           data-toggle="table"
                           data-use-row-attr-func="true"
                           data-reorderable-rows="true"
                    >
                        <thead >
                        <tr>
                            <th data-field="id"  data-width="20" data-width-unit="%">ID</th>
                            <th data-field="name" >Group Name</th>
                            <th data-field="remove" data-formatter="operateFormatter" data-events="operateEventItem"
                                data-align="center" data-width="10" data-width-unit="%">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer name-price">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalFood">Back</button>
                    <button type="button" class="btn btn-primary" onclick="$('#alertModal').modal('show')">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Food Detail Modal -->
    <div class="modal fade" id="modalFoodDetailEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mx-2">
                    <form class="row g-3" onsubmit="$('#alertModal').modal('show');return false;">
                    <div class="col-md-12">
                        <h5 for="inputName" class="form-label">Name<small style="color: crimson">*</small></h5>
                        <input type="text" class="form-control" id="inputName" required>
                    </div>
                    <div class="col-12">
                        <h5 for="inputDescription" class="form-label">Description</h5>
                        <textarea type="text" class="form-control" id="inputDescription" rows="4"></textarea>
                    </div>
                    <div class="col-12">
                        <h5 for="inputCategory" class="form-label">Category</h5>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" onclick="$('#category').modal('show')">Select...</button>
                            <input type="text" class="form-control" id="inputCategory" placeholder="Please select category" required onkeypress="return false;">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="card-body pb-0">
                                <h5 class="card-title">Image</h5>
                                <p class="card-text">Recommend: Square Size Image <br>(Maximum size: 2 Mb)</p>
                                <div class="input-group">
                                    <input class="form-control" type="file" id="formFile" onchange="preview()" name="image" accept="image/png, image/jpeg">
                                    <button class="btn btn-outline-secondary" type="button" onclick="clearImage()">Clear</button>
                                </div>
                            </div>
                            <div class="center">
                                <img class="rounded m-2" id="picPreview" src="/images/default.png">
                            </div>
                        </div>
                    </div>
                    <!-- QTY       -->
                    <div class="col-md-12">
                        <h5 class="form-label">Quantity</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioQty" id="radioNoManage" onclick="quantitySelectManage()" checked>
                            <label class="form-check-label" for="radioNoManage">No</label>
                        </div>
                        <div class="form-check form-check-inline">

                                <input class="form-check-input" type="radio" name="radioQty" id="radioYesManage" onclick="quantitySelectManage()">
                                <label class="form-check-label d-flex" for="radioYesManage">Yes<input type="number"  class="form-control mx-2" id="qtyNumManage" min="0" disabled ></label>


                        </div>
                    </div>
                    <!-- price       -->
                    <div class="col-md-5">
                        <h5 for="inputPrice" class="form-label">Price<small style="color: crimson">*</small></h5>
                        <input type="number" class="form-control" id="inputPrice" min="0" step="0.01" required>
                    </div>
                        <!-- Display-->
                        <div class="col-md-12">
                            <h5 class="form-label">Display</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="display" id="displayNo" checked>
                                <label class="form-check-label" for="displayNo">No</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="display" id="displayYes">
                                <label class="form-check-label" for="displayYes">Yes</label>
                            </div>
                        </div>

                        <div class="modal-footer name-price pb-0">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalFood">Back</button>
                            <button type="submit" class="btn btn-primary" >Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalOptionEdit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0">
                    <form class="row g-3" onsubmit="$('#alertModal').modal('show');return false">
                    <div class="row py-2">
                        <div class="col-3">
                            <h6 >Name:</h6>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="nameOptionEdit" required>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <h6 >Quantity:</h6>
                        </div>
                        <div class="col-9">
                            <div class="row g-2 align-items-center col-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioNo" onclick="quantitySelect()" checked>
                                    <label class="form-check-label" for="radioNo">
                                        No
                                    </label>
                                </div>
                                <div class="form-check col-auto">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioYes" onclick="quantitySelect()">
                                    <label class="form-check-label" for="radioYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <input type="number"  class="form-control" id="qtyNum" min="0" disabled >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <h6 >Price:</h6>
                        </div>
                        <div class="col-9">
                            <input type="number" class="form-control" id="priceOptionEdit" min="0" step="0.01" required>
                        </div>
                    </div>
                    <div class="modal-footer name-price">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalOption">Back</button>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalOptionGroupEdit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0">
                    <form class="row g-3"  onsubmit="$('#alertModal').modal('show');return false">
                        <!--        name & des-->
                        <div class="col-md-12">
                            <h5 for="inputName" class="form-label">Group Name</h5>
                            <input type="text" class="form-control" id="inputNameGroup" required>
                        </div>
                        <div class="col-12">
                            <h5 for="inputDescription" class="form-label">Description</h5>
                            <textarea type="text" class="form-control" id="inputDescriptionGroup" rows="4"></textarea>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#optionModal" onclick="checkTable()">Select Option</button>
                        </div>

                        <!--table-->
                        <table id="selectedOption"
                               data-toggle="table"
                               data-use-row-attr-func="true"
                               data-reorderable-rows="true"
                        >
                            <thead >
                            <tr>
                                <th data-field="id" >ID</th>
                                <th data-field="name" >Option</th>
                                <th data-field="price" >Price</th>
                                <th data-field="remove" data-formatter="operateFormatter" data-events="operateEvent"
                                    data-align="center" data-width="10" data-width-unit="%">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <!--table            -->
                        <div class="mt-2 col-6 " >
                            <h5>MIN</h5>
                            <div class="input-group number-spinner">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" data-dir="dwn" value="0">-</button>
                </span>
                                <input type="number" class="text-center form-control readOnly" value= 0  style="width: 50%" id="minOp">
                                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" data-dir="up" value="0">+</button>
                </span>
                            </div>
                        </div>
                        <div class="mt-2 col-6 " >
                            <h5>MAX</h5>
                            <div class="input-group number-spinner col-6">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" data-dir="dwn" value="0">-</button>
                </span>
                                <input type="number" class="text-center form-control readOnly" value= 0 style="width: 50%" id="maxOp">
                                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" data-dir="up" value="0">+</button>
                </span>
                            </div>
                        </div>
                        <!--footer-->
                        <footer  style="display: flex; justify-content: space-between">
                            <div class="mb-3">
                                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalOptionGroup" type="button">Back</button>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </footer>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTableCreate" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Table</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0">
                    <form class="row g-3" onsubmit="createTable();return false">
                        <div class="form-group">
                            <label for="inputTable">Table number</label>
                            <input type="number" class="form-control" id="inputTable" min="1" step="1" required>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" >Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Option Modal -->
    <div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select Option</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="option"
                           data-toggle="table"
                           data-pagination="true"
                           data-pagination-h-align="left"
                           data-pagination-detail-h-align="right"
                           data-search="true"
                           data-click-to-select="true"
                           data-maintain-meta-data="true"
                           data-url="/api/item/category/OPTION"
                    >
                        <thead >
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id" >ID</th>
                            <th data-field="name" >Option</th>
                            <th data-field="price" >Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalOptionGroupEdit"
                    >Close</button>
                    <button type="button" class="btn btn-primary" onclick="insertOptionTable()"
                            data-bs-toggle="modal" data-bs-target="#modalOptionGroupEdit"
                    >Selected</button>
                </div>
            </div>
        </div>
    </div>

    <!--Alert Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alert</h5>
                </div>
                <div class="modal-body">
                    <h5>Are you sure to update?</h5>
                </div>
                <div class="modal-footer name-price">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!--Alert Delete Modal -->
    <div class="modal fade" id="alertDeleteModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alert</h5>
                </div>
                <div class="modal-body">
                    <h5>Are you sure to delete?</h5>
                </div>
                <div class="modal-footer name-price">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-----CategoryModal------->
    <div class="modal fade" id="category"  tabindex="-1" role="dialog" aria-labelledby="categoryLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryLabel">Select Option Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="categoryTable"
                           data-toggle="table"
                           data-show-header="false"
                           class="table-borderless"
                    >
                        <thead>
                        <tr>
                            <th data-field="name" data-align="center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" type="button">
                    <div class="col-md-12">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    + new category
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h5 for="inputNewCategory" class="form-label">Category Name</h5>
                                    <input type="text" class="form-control" id="inputNewCategory" >
                                    <button class="btn btn-primary" type="button" onclick="createNewCategory()">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>