<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/header.html}">

<head>
    <title>Payment</title>
</head>

<body class="bg">
<section layout:fragment="content" >
<div class="container bg-body px-4" id="layout" style="height: 100vh">
    <div style="align-items: center;display: flex;height: 70vh;justify-content: center">
        <div class="py-2" style="display: flex;flex-direction: column;align-items: center">
            <div class="my-1">
                <h3>Choose Payment Method</h3>
            </div>
            <div class="my-1">
                <div class="my-1">
                    <a type="button" class="btn btn-primary btn-lg w-100" href="/payment/qrcode">
                        <i class="bi bi-qr-code-scan mx-2"></i>QR Code</a>
                </div>
                <div class="my-1">
                    <a  type="button" class="btn btn-primary btn-lg w-100" href="/payment/deeplink">SCB EasySandbox</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>