<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{fragments/header.html}">
<head>
    <title th:text="'OrderME - ' + ${ref1}"></title>
</head>
<body>
<section layout:fragment="content" class="center">
    <div class="card" style="width: 60%">
        <div class="card-body">
            <h2 class="card-title" style="text-align: center">OrderME</h2>
            <div>
                <h6 th:text="'Date: ' + ${date}">Date: 8/01/2022 01:52</h6>
                <div class="name-price">
                    <h6 th:text="'Type: ' + ${type}"></h6>
                    <h6 th:text="'Guests: ' + ${person}"></h6>
                </div>
                <h6 th:text="'Bill: ' + ${billId}"></h6>
            </div>
            <hr>
            <div th:each="item : ${orders}">
                <div class="name-price">
                    <h6 class="menu-name" th:text="${item.quantity} + 'x ' + ${item.name}">1x ข้าวหน้าเนื้อ</h6>
                    <h6 class="m-0" th:text="'฿ ' + ${item.amount}">300</h6>
                </div>
                <div class="columnFlex">
                    <small class="text-muted" th:text="${item.option}">ไข่ดิบ, ขิงดอง, XL</small>
                    <small class="text-muted" th:text="${item.comment != ''}? ${'* ' + item.comment}">หิว</small>
                </div>
            </div>
            <hr>
            <div class="name-price">
                <h6 class="menu-name">Total:</h6>
                <h6 class="m-0" th:text="${total}">฿ 300</h6>
            </div>
            <hr>
            <div class="name-price">
                <h6 class="menu-name">Ref 1:</h6>
                <h6 class="m-0" th:text="${ref1}"></h6>
            </div>
            <div class="name-price">
                <h6 class="menu-name">Paid By:</h6>
                <h6 class="m-0" th:text="${channel}">Credit Card</h6>
            </div>
        </div>
        <h5 class="card-title" style="text-align: center">THANK YOU</h5>
        <h5 class="card-title" style="text-align: center">HAVE A NICE DAY</h5>
    </div>
</section>

</body>
</html>