#picPreview{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background: gray;

}
.bg{
    background: #0c7d5b;
}

#layout{
   width: 60%;
}
@media (max-width:800px){
    #layout{
        width: 100%;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
}