body{
    font-family: Kanit;
}

h3{
    color: #3d4d40;
    margin-top: 8px;
}

.nav-link {
    color: #8ba888;
}

.nav-link:hover{
    color: #44624a;
}

.navbar{
    background-color: #44624a;
}

.link-head {
    color: white;
}

.link-head:hover{
    color: white;
}

.menu-name{
    font-weight: 600;
    margin: 0;
}

.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-price-status{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ORDER,.PENDING{
    background-color: rgb(220,53,69);
    color: white;
}

.COOKING{
    background-color: darkorange;
    color: white;
}

.COMPLETE{
    background-color: #44624a;
    color: white;
}

.SERVING{
    background-color: #0d6efd;
    color: white;
}


#picPreview{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background: gray;

}
.bg{
    background: #0c7d5b;
}

#layout{
    width: 60%;
}

.indexBg{
    background: #0c7d5b;
    height: 100vh;background: url('/material/indexBG.jpg')no-repeat fixed center;
}

@media (max-width:800px){
    #layout{
        width: 100%;
    }
    .indexBg{
        background-size: cover;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
}

.columnFlex{
    flex-direction: column;
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal.fade {
    background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.fade {
    opacity: 0;
}

#modalImg{
    display: flex;
    justify-content: center;
}