.picture{
    max-height: 125px;
    max-width: 125px;
}

.card-body{
    padding-left: 2%;
    padding-right: 5%;
}

.card{
    
}

@media (max-width:900px) {
    .hide-text{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 100%;
    }
}
.row{
    height: 100%;
}

.cardScroll{
    height: 100%;
    width: 100%;
}
#cardContainer{
    height: 20%;
}
.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.columnImage{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}


