.menu-name{
    font-weight: 600;
}

.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-name{
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 0;
}

.option-des{
    padding-bottom: 10px;
}
.option-div{
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    margin: 10px 5px 10px 5px;
}

.picture{
    max-height: 125px;
    max-width: 125px;
}

.card-body{
    padding: 2% 3% 2% 3%;
}

.card{
    
}

@media (max-width:900px) {
    .hide-text{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 100%;
    }

    @media (max-width:400px){
        .picture{
            max-height: 100px;
            max-width: 100px;
        }
    }
}
.row{
    height: 100%;
}


.cardScroll{
    height: 100%;
    width: 100%;
}
#cardContainer{
    height: 20%;
}
.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.columnImage{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.price{
    position: absolute;
    bottom: 0;
}
.modal-fullscreen-md-down .modal-content{
    height: unset; !important;
}

