#qrModal .modal-body div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item{
    margin-bottom: 5px;
    margin-right: 4px;
}

.card{
    margin-right: 5px;
    margin-bottom: 3px;
}