.btn-bar{
    position: relative;
    top: 20%;
    background: #0c7d5b;
    color: white;
    border-width: 0px 0px 1px 0px;
    border-color: #12a176;
}
 .btn-bar:hover{
    background: #aaff33;
    color: black;
}
button.btn-bar.active{
    background: white; !important;
    color: black; !important;
}

img{
    height: 125px;
    width: 125px;
    object-fit: cover;
}




